header {
  height: 50px;
  box-sizing: border-box;
}

#meta {
  height: 100px;
  overflow: hidden;
}

#notesbook {
  height: calc(100% - 2em);
  min-height: calc(85vh - 210px);
  display: flex;
  flex-direction: column;
}

svg.notesbook {
  flex: 1 0 auto;
  padding: 3em;
}

svg.notesbook,
svg.markings {
  overflow: visible;
}

#navigator {
  display: flex;
  flex: 1 1 auto;
  max-height: 15vh;
}
