header {
    background-image: url('/img/josquin.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#legend li {
    cursor: pointer;
}
#legend li text {
    margin-left: 1em;
}

rect, li {
    transition: opacity 0.5s ease;
}
rect.note {
    fill: currentColor;
    stroke: currentColor;
    fill-opacity: 0.5;
    stroke-width: 1;
}
.subdued {
    opacity: 0.1;
}
rect.extreme {
  stroke: red;
  stroke-width: 3;
}
.brush .extent {
    stroke: black;
    fill-opacity: .08;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}
path.domain {
    fill: none;
    stroke: none;
}
.tick line {
    stroke: gray;
}
/* Tooltip styling inspired by http://bl.ocks.org/Caged/6476579 */
.d3-tip {
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 2px;
}
