---
---
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Ribbon and notes visualization for Josquin music.">
  <meta name="author" content="Seemant Kulleen">
  <meta name="author" content="Curran Kelleher">

  <title>Josquin Research Project</title>

  <!-- Bootstrap
    For reset and grid layout.
    from http://getbootstrap.com/customize/?id=c9c26f4080624c8af8ea9d80a6a64013
  -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/file-saver@1.3.3/FileSaver.js"></script>
</head>

<body>
  <header class="page-header text-center">
    <h1>Josquin Research Project</h1>
  </header>
  <article>
    <div class="container-fluid">
      <div class="row">
        <div id="main" class="notes col-md-9 col-lg-9">
          <div class="row">
            <div id="notesbook" class="well">
              <svg>
                <defs>


{% comment %}
	The following include contains the mensuration symbols
	for all current mensuration signs in the JRP database.
	The symbols are IDed by their proll JSON data name, with the
	following transform needed to convert from the JSON string 
	to the ID of the mensuration in the symbol table, where mentag
	is the name in the JSON file, and menid is the corresponding
	symbol id for the desired symbol in the following list.

	var menid = mentag.replace(/^C/g, "c")
		.replace(/^O/g, "o")
		.replace(/r/g, "-reverse")
		.replace(/\//g, "-over")
		.replace(/\|/g, "-pipe")
		.replace(/\./g, "-dot")
		.replace(/(\d+)/g, "-$1")
		.replace(/^-/, "n");
{% endcomment %}
{% include mensuration/mensuration.symbols %}

                </defs>
              </svg>
            </div><!--/#viewer-->
          </div><!--.row-->
        </div><!--.notes-->
        <div id="meta" class="col-md-3 col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <div class="meta-titles">
                <h3></h3>
                <h4></h4>
              </div>
              <div>
                <input title="Delete the text to see an autocomplete list." id="josquin_catalog" name="josquin_catalog" type="text" list="catalog">
                </input><button id="load_song">Load</button>
                <datalist id="catalog"></datalist>
              </div>
            </div><!--.panel-heading-->
            <div class="panel-body">
              <div id="legend"></div>
            </div><!--.panel-body-->
            <div class="panel-footer">
              <div class="list-group">
                <!-- <div class="panel-body"> -->
                  <div id="separate-ui">
                    <label for="separate-voices">
                      <input id="separate-voices" type="checkbox" autocomplete="off"> Separate Voices
                    </label>
                  </div>
                <!-- </div> -->
              </div><!--.list-group-->
              <div class="list-group">
                <!-- <div class="panel-body"> -->
                  <div id="notes-ui">
                    <label for="show-notes">
                      <input id="show-notes" type="checkbox" autocomplete="off" checked> Show Notes
                    </label>
                    <label for="show-extremes">
                      <input id="show-extremes" type="checkbox" autocomplete="off"> Show Extreme Notes
                    </label>
                  </div><!--.btn-group#notes-ui-->
                <!-- </div> -->
              </div><!--.list-group-->
              <div class="list-group">
                <!-- <div class="panel-body"> -->
                  <div id="ribbons-ui">
                    <label for="show-ribbon">
                      <input id="show-ribbon" type="checkbox" value="all">  Show Ribbon: <select id="select-ribbon">
                        <optgroup label="Select a Ribbon">
                          <option value="standard_deviation">Standard Deviation</option>
                          <option value="attack_density">Attack Density</option>
                        </optgroup>
                      </select>
                    </label>
                  </div><!--/#ribbons-ui-->
                <!-- </div> -->
              </div><!--.list-group-->
              <div class="list-group">
                <button id="export-svg-button">Export SVG</button>
              </div><!--.list-group-->
            </div><!--.panel-footer-->
          </div><!--.panel-->
        </div><!--.col-xs-12.col-lg-2-->
      </div><!--.row-->
      <div class="row">
        <div id="navigator" class="well">
          <svg></svg>
        </div><!--.well#navigator-->
      </div><!--.row-->
    </div><!--.container-->
  </article>

{% if site.debugging == 'true' %}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js">
  </script>
  <script src="js/dev/legend.js"></script>
  <script src="js/dev/reflines.js"></script>
  <script src="js/dev/ribbon.js"></script>
  <script src="js/dev/score.js"></script>
  <script src="js/dev/notescanvas.js"></script>
  <script src="js/dev/notesbook.js"></script>
  <script src="js/dev/notesnav.js"></script>
  <script src="js/dev/askus.js"></script>
  <script src="js/dev/baton.js"></script>
{% else %}
  <script src="js/vendors.js"></script>
  <script src="js/josquin.js"></script>
{% endif %}
</body>
